// ## COLORS ##
// ## FONTS ##
// ## NAVIGATION ##

// ******************************************


.details * {
	display: inline-block;
}

p {
	margin: 0 2px;
}

input {
	text-align: center;
}

img[class*='image-'] {
    vertical-align: bottom;
    border-bottom: 2px solid black;
    position: relative;
    bottom: -5px;
}